name: Test and Code Coverage
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }} - ${{ matrix.julia-arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:

        # '1.6' is the lowest supported version
        # '1' is the latest stable version
        # 'nightly' is the latest nightly release
        julia-version: ['1.6', '1', 'nightly']
        julia-arch: [x64, x86]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        exclude:
          - os: macOS-latest
            julia-arch: x86
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - uses: julia-actions/cache@v1
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
        if: ${{ (matrix.julia-version == 'nightly') && (matrix.julia-arch == 'x64') && (matrix.os == 'ubuntu-latest') }}
      - uses: codecov/codecov-action@v3
        if: ${{ (matrix.julia-version == 'nightly') && (matrix.julia-arch == 'x64') && (matrix.os == 'ubuntu-latest') }}
        with:
          files: lcov.info
      - uses: julia-actions/julia-uploadcoveralls@v1
        if: ${{ (matrix.julia-version == 'nightly') && (matrix.julia-arch == 'x64') && (matrix.os == 'ubuntu-latest') }}
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
